{% extends 'base.html.twig' %}

{% block title 'Tous nos biens'%}

{% block body %}
    <style>

        .example-wrapper {  width: 100%; font: 18px/1.5 sans-serif; background: whitesmoke;}
        .example-wrapper code { background: whitesmoke ; padding: 2px 6px; }
    </style>

    <div class="example-wrapper" >
        <h1 style="text-align: center">Voir tous nos biens</h1>
    </div>
{% endblock %}